  input#page {
    width: 12ch;
    color: white;
  }

  input#query {
    width: 32ch;
  }

  .radio-toolbar label {
    color: white;
  }

  .legend {
    color: white;
  }

  .active {
    background-color: rgb(248, 163, 6);
    color: white;
  }

  .bani {
    font-size: 1.15em;
    /* 14px/16=0.875em */
  }

  .icon-bar {
    position : fixed;
    top: 0;
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: hidden; /* Overflow due to float */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    display: block;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 2px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 30px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}


body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  margin:0;
}
/* Main content */
#demo {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
  background-color: white;
}

#buffer {
  background-color: #555;
  height: 46px;
}

 #searchBar {
  display: none;
  background-color: rgb(12, 3, 32);
  width: 100%;
  padding: 14px 16px;
} 

  #myLinks {
  /* display: none; */
  background-color: rgb(12, 3, 32);
  width: 100%;
  color: #f1f1f1;
} 

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
